.google-flex{
    cursor: pointer;
    border:1px solid lightgray;
    border-radius:30px;
    padding-top:10px;
    padding-left:10px;
    margin-top:30px;

}
.login-form-container{
    max-width:500px;
    margin:auto;
    border:1px solid lightgray;
    padding:100px 70px;
    border-radius:10px;
}